* {
 box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

div {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  margin: 20px auto;
}

#scale {
  transform: scale(2);
}

#skew {
  background-color: pink;
  transform: skewX(15deg);
}

#rotate {
  margin-top: 100px;
  font-family: Arial;
  transform: rotate(45deg);
  vertical-align: middle;
  font-size: 160px;
  padding: 0px;
  font-weight: bolder;
}
