/* Box Model Hack */
* {
 box-sizing: border-box;
}

div {
  height: 200px;
  width: 200px;
  margin: 30px auto;
  background-color: lightblue;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}

#txt {
  color: black;
  transition: color 1s ease;
}
#txt:hover {
  color: red;
}

#bg {
  background-color: yellow;
  transition: background-color 3s linear;
}
#bg:hover {
  background-color: green;
}

#invisible {
  opacity: 1;
  transition: opacity 3s linear;
}

#invisible:hover {
  opacity: 0;
}

#blinds {
  transition: all 1s ease-in-out;
}
#blinds:hover {
  height: 0px;
  padding: 0px;
  overflow: hidden; 
}

#scale {
  height: 200px;
  width: 200px;
  transition: width, height 1s ease-in-out;
}
#scale:hover {
  height: 400px;
  width: 400px;
}
