<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Magazine">
	<meta name="keywords" content="Magazine, Layout, Template">
	<title>Magazine</title>

	<link rel="stylesheet" href="css/style-magazine.css">
</head>

<body>

	<div class="clearfix">
		<header>
			<h1>This is my header</h1>
		</header>

		<nav>
			<div class="nav1">Nav 1</div>
			<div class="nav2">Nav 2</div>
			<div class="nav3">Nav 3</div>
			<div class="nav4">Nav 4</div>
			<div class="nav5">Nav 5</div>
		</nav>
	</div>

	<div class="clearfix">
		<div class="column">
			<h2>This is my column</h2>
		</div>

		<main>
			<h2>This is my main</h2>
		</main>

		<div class="clearfix">
			<article>
				<h2>This is my article</h2>
			</article>

			<aside>
				<h2>This is my sidebar</h2>
			</aside>

			<div class="box1">
				<h3>This is my Box 1</h3>
			</div>

			<div class="box2">
				<h3>This is my Box 2</h3>
			</div>

			<div class="box3">
				<h3>This is my Box 3</h3>
			</div>

			<div class="box4">
				<h3>This is my Box 4</h3>
			</div>
		</div>

	</div>

	<footer>
		<h4>This is my footer</h4>
	</footer>

</body>
</html>
