<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Three-Column">
	<meta name="keywords" content="Three-Column, Layout, Template">
	<title>Three-Column Template</title>

	<link rel="stylesheet" href="css/style-three-column.css">
</head>

<body>

	<header class="spaceforall">
		<h1>This is my header</h1>
	</header>

	<div class="clearfix">
		<nav class="spaceforall">
			<h2>This is my nav</h2>
		</nav>

		<main class="spaceforall">
			<h2>This is my main</h2>
		</main>

		<aside class="spaceforall">
			<h2>This is my sidebar</h2>
		</aside>
	</div>

	<footer class="spaceforall">
		<h3>This is my footer</h3>
	</footer>

</body>
</html>
