<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Two-Column">
	<meta name="keywords" content="Two-Column, Layout, Template">
	<title>Two-Column Template</title>

	<link rel="stylesheet" href="css/style-two-column.css">
</head>

<body>

	<header>
		<h1>This is my header</h1>
	</header>

	<div class="clearfix">
		<main>
			<h2>This is my main</h2>
		</main>

		<aside>
			<h2>This is my sidebar</h2>
		</aside>
	</div>

	<footer>
		<h3>This is my footer</h3>
	</footer>

</body>
</html>
